@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,100&family=Raleway:ital,wght@0,200;0,300;0,400;1,200&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

section .global-page-container{
    text-align: center;
    width: 100%;
    height: 150vh;
    background: #e4406f;
background: -webkit-linear-gradient(0deg, #e4406f 0%, #de1777 50%, #9c297f 100%);
background: linear-gradient(0deg, #e4406f 0%, #de1777 50%, #9c297f 100%);
}


:root{
    --font-primary: "Georgia", serif;
    --font-secundary: "Lucida Sans", serif;
    --font-action: "Times New Roman", serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 0.80rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: 0.35rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;

}

.show-menu #line1{
    transform: rotate(46deg) translate(.0rem, .5rem);
    border-radius: 1rem;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-44deg) translate(.2rem, -0.90rem);
    border-radius: 1rem;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #a044ff;
    color: #ffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-radius: 2rem;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;

}

header{
    width: 100%;
    height: 150vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.Paragrafo{
    text-align: center;
    word-break: break-all;

}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position:absolute;
    top: 30%;
    left: 15%;
}

.banner img{
        width: 120px;
        top: 20px;
        position: absolute;
        left: -125px;
        opacity: 0;
        animation: img 1s 0.8s forwards;
}

@keyframes img{
    0%{
        transform: translateY(10rem) rotateX(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner h1{
    color: white;
    font-size: 5em;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 0,5rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}



.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top:0;
    right:-20rem;
    transition: all 1s;
    z-index: 99;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-family:var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color: aquamarine;
}

.social-midia{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-midia i{
    background-color: #750768;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  background-color 1s;

}
.social-midia i:hover{
background-color: #a044ff;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity:1;
    }
}

.decoration-img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.deigner-banner h1{
    color: white;
    font-size: 5em;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    margin-top: -15rem ;
    margin-left: 0;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.deigner-banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    line-break: auto;
    text-align: center;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    margin-left: -15rem;
    margin-right: 15rem;
    margin-top: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.decoration-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.deigner-banner{
    position: absolute;
    top: 45%;
    left: 45%;
}

.deigner-banner img{
        width: 420px;
        top: 100px;
        position: absolute;
        left: -135px;
        border-radius: 2rem;
        opacity: 0;
        animation: img 1s 0.8s forwards;
}

.global-page-container {
	width: 100%;
	display: inline-block;
  margin: auto;
  height: 10%;
}

.global-page-container h1{
    margin-top: 5rem;
    font-size: 4rem;
    color: white;
    font-weight: 10;
}

.quadro-slide {
  padding: 50px 0 60px 0;
  overflow: hidden;

}

.quadro-slide .slide {
  transform: scale(0.6);
  transition: 0.07s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  outline: none !important;
}

.quadro-slider .slide.slick-center {
  transform: scale(1);
}

.arrow {
  display: inline-block;
  margin: 0 10px;
  width: 39px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 60% 80%;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 1rem;
}

#arrow-prev {
    background-color: #f8f8f8;
    border-radius: 0.4rem;
    background-image: url('../assets/arrow_prev.svg');
}

#arrow-next {
    background-color: #f8f8f8;
    border-radius: 0.4rem;
    background-image: url('../assets/arrow_next.svg');
}

.description {
  display: inline-block;
  height: 20px;
  line-height: 30px;
  width: 190px;
  vertical-align: middle;
  font-family: 'Georgia';
  font-size: 2rem;
  color: #fff;
  margin-left: 6px;
  margin-top: -12rem;

}

#quadro-price {
  color: #fff;
  font-family: 'Georgia';
  font-size: 28px;
  margin-left: 15px;
  margin-top: -48px;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #272727;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);

}

.contato-left{
    width: 35%;
    background: linear-gradient(rgb(15 15 15 / 60%), rgb(22 22 22 / 90%))
    ,url(/assets/Contato.jpg);
    background-size: cover;
}

.contato-right{
    width: 65%;
    background-color: #FF0099;
    background: -webkit-linear-gradient(to right, #803f67, #FF0099);
    background: linear-gradient(to right, #e97e7e, #ff089cd4, #eb2058);
    padding: 1rem 3rem 3rem 3rem;
    opacity: 0.9;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: rgb(10, 10, 10);
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-group{
    position: relative;
}

.input-group textarea{
    padding-top: 0.5rem;
    max-width: 25rem;
    max-height: 5rem;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 1px dashed #f8f8f8;
    height: 3rem;
    outline: none;
    margin: 2rem 0;
}

.field-label{
    position: absolute;
    left: 0;
    top: 1rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 1.3s;
    color: rgb(0, 0, 0);

}

.field:focus ~ label{
    top:0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;

}

.btn-submit{
    width: 8rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: #fff;
    background: #5749cf;
    background: -webkit-linear-gradient(to right, #301b2a, #ec38bc, #7303c0, #03001e);  
    background: linear-gradient(to right, #f386d4, #ec38bc, #7303c0, #6050f3);
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);
}
   




  @media only screen and (max-width: 900px) {
    .deigner-banner h1{
        margin-left: -5rem;
        margin-top: -26rem;
     }

     .deigner-banner p{
        font-size: 2rem;
        word-break: normal;
        margin-left: -10rem;
        margin-right: 2.5rem;
        
    }




  }   

/
  @media only screen and (min-width: 641px) and (max-width: 1023px) {
    .quadro-slide .slide {
      width: 33%;
    }
    
  }








  @media only screen and (min-width: 1024px) and (max-width: 1440px) { 
      
    .global-page-container {
      width: 1024px;
    }
      
  }








  @media only screen and (min-width: 1441px) {
      
    .global-page-container {
      width: 1440px;
    }
            
  }

